prototype/trunk/main/schema/xview-ld.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:main="xview-ld.xsd"
           targetNamespace="xview-ld.xsd">

    <xs:element name="layout" type="main:layoutType"/>

    <xs:complexType name="rowType">
        <xs:sequence>
            <xs:element type="main:colType" name="cell" maxOccurs="unbounded" minOccurs="0"
                    />
        </xs:sequence>
        <xs:attribute type="xs:nonNegativeInteger" name="height" use="optional"/>
    </xs:complexType>

    <xs:complexType name="colType">
        <xs:sequence>
            <xs:element name="layout" type="main:layoutType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute type="xs:nonNegativeInteger" name="width" use="optional"/>
        <xs:attribute type="xs:nonNegativeInteger" name="colSpan" use="optional"/>
        <xs:attribute type="xs:nonNegativeInteger" name="rowSpan" use="optional"/>
        <xs:attribute type="main:FlowType" name="flow"/>
        <xs:attribute type="main:nameType" name="name" use="required"/>
    </xs:complexType>

    <xs:complexType name="gridType">
        <xs:sequence>
            <xs:element type="main:rowType" name="row" maxOccurs="unbounded" minOccurs="0"
                    />
        </xs:sequence>
        <xs:attribute type="main:FlowType" name="flow"/>
    </xs:complexType>

    <xs:complexType name="layoutType">
        <xs:sequence>
            <xs:element type="main:gridType" name="grid"/>
        </xs:sequence>
        <xs:attribute type="main:nameType" name="name" use="required"/>
        <xs:attribute type="xs:nonNegativeInteger" name="anchor"/>
        <xs:attribute type="xs:nonNegativeInteger" name="cellSpacing"/>
        <xs:attribute type="xs:nonNegativeInteger" name="cellPadding"/>
        <xs:attribute type="xs:nonNegativeInteger" name="width"/>
        <xs:attribute type="xs:nonNegativeInteger" name="height"/>
        <xs:attribute type="main:domainType" name="domain"/>
    </xs:complexType>

    <xs:simpleType name="FlowType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="horizontal"/>
            <xs:enumeration value="vertical"/>
            <xs:enumeration value="none"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="nameType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z](\w)*"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="domainType">
        <xs:restriction base="xs:string">
            <xs:pattern value="([a-zA-Z](\w)*)(([a-zA-Z](\w)*)|\.)*([a-zA-Z](\w)*)"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>